.user-main
.user-new
  .user-new-title
    新規会員登録
  .email-check
    = link_to 'メールアドレスで登録する', new_user_registration_path
  .facebook
    = link_to 'Facebookで登録する', "#",class: "facebook-btn"
    %i.fab.fa-facebook-square.facebook-icon
    -# = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
  .google
    = link_to 'Googleで登録する', "#",class: "google-btn"
    -# = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post