.card__box{
  height:400px;
  width:700px;
  &__head{
  background-color:white ;
  height:50px;
  padding: 8px 24px;
  border-bottom: 1px solid #dad7d7;
  text-align: center;
  h2{
    line-height: 45px;
    font-size: 25px;
    font-weight: 600;
  }
}
  .card__content{
    background-color:white ;
    height:200px;
    padding:64px;
    &__textbox{
      max-width: 320px;
      margin: 0 auto;
      &__text{
        font-size: 16px;
        font-weight: 550;
      }
    }
      .card__list{
      border-bottom: 1px solid #e8e4e4;
      margin: 0 auto;
      }
      .set__card{
        margin: 0 auto;
        padding: 24px 0;
        border-bottom: 1px solid rgb(218, 215, 215);
        .btn-red{
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
        }
        .submit_button{
          display: block;
          max-width: 320px;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          margin: 0 auto;
         }
        a{
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          margin-right: 5px;
          }
        }
      .set__regist{
        display: block;
        margin: 40px 0 0;
        text-align: right;
        a{
          text-decoration: none;
        }
      }
    }
  }


///カード情報編集ページ


.card__regist{
  height:700px;
  width:700px;
  &__head{
  background-color:white ;
  height:50px;
  padding: 8px 24px;
  border-bottom: 1px solid #dad7d7;
  text-align: center;
  h2{
    line-height: 45px;
    font-size: 25px;
    font-weight: 600;
    }
  }
  &__content{
    background-color:white ;
    height:500px;
    padding:64px;
    
    &__box{
    max-width: 343px;
    margin: 0 auto;

    label{
      font-weight: 600;
      display: inline-block;
      touch-action: manipulation;
    }
    .card-info__content-require{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    }
    .card-info__input-default{
    width: 308px;
    margin: 8px 0 0;
    height: 25px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    }
    .card-info__has-error-text{
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
    }
    .card-info__list {
      margin-top: 8px;
      margin-bottom: 25px;
      font-size: 0;
      li {
        display: inline-block;
        margin: 0 0 0 8px;
        vertical-align: middle;
      }
    }
    .card-info__form-expire{
      display: inline-block;
      width: calc(50% - 2px);
      &__deadline{
        cursor: pointer;
        .form-card__month__select,
        .form-card__year__select{
          height: 45px;
          width: 70px;
          border: 1px solid #eae8e8;
          border-radius: 5px;
          padding-left: 10px;
          background-color: white;
        }
      }
    }
    .card-info__seqcode {
      position: relative;
      bottom :5px;
      margin-top: 8px;
      &--text{
        color: #0099e8;
        float: right;
        font-size:14px;
        margin-bottom:40px;
        }
      }
    .card-info__content--form--btn{
      height:70px;
      width:100%;
      background: #ea352d;
      border: 1px solid #ea352d;
      scroll-padding-top: 40px;

      a{
      color: #fff;
      display: block;
      width: 100%;
      line-height: 70px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
        }
      }
    }
  }
}

