.header {
  padding: 0 60px;
  background-color: green;

  &__box {
    max-width: 1040px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    background-color: blue;

    &__up {
      height: 40px;
      display: flex;
      align-items: center;
      
      &--icon {
        margin-right: 30px;
        padding-bottom: 10px;
        border-radius: 4px;
        // background-image: image(logo-white.png);
      }
      &--search {
        margin-left: auto;
        width: 100%;

        .search-form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          .search-input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .search-btn {
            background-color: #3CCACE;
          }
        }
      }
    }
    &__under {
      margin-bottom: 10px;
      font-size: 14px;
      display: flex;
      
      &--box {
        
      }
    }
  }
}