.header
  .header__box
    .header__box__up
      .header__box__up--icon
        = link_to image_tag('logo.png', class: "btn"),root_path

      .header__box__up--search 

        -# =form_with(url:search_products_path, local: true, method: :get, class: "search-form") do |form|
        = search_form_for @q, url:search_products_path,class: "search-form" do |form|
          = form.search_field :product_name_cont, placeholder: "キーワードから探す", class: "search-input" 
          = button_tag type: 'submit', class: 'search-btn' do
            %i.fas.fa-search.click 